@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');


.hamburger {
    display: none; /* Hidden by default */
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 25px;
    background: transparent;
    border: none;
    cursor: pointer;
    position:relative;
    margin: 1vh 10%;
}

/* Hamburger lines */
.hamburger span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    transition: all 0.3s linear;
}

.nav{
    display:flex;
    height: 5rem;
    padding: 0 15%;
    justify-content: space-between;
    background-color: #000000;
    
    .logo-dark{
        display: flex;
        justify-content: left;
        width: auto;
        max-width: 120px;
        height: 100%;
        margin: -1vh 2rem;
        font-family: cursive;
        color: #ccc;
        margin: -1vh 2rem 5vw 0;
        .letter{
        font-size: 4vw;
        
    }
    }
    .links{
        margin: 1.75rem 5%;
        width: auto;
        max-width: 600px;
        text-decoration: none;
        
        ul{
            display: flex;
            justify-content: space-between; 
            list-style: none;
            a{
                color: rgba(230, 230, 230, 0.644);
                text-decoration: none;
                font-family: 'League Spartan',Helvetica,Arial,sans-serif;
                font-size: 1.5rem;
                padding: 0 1.5rem;
            }
        }
    }
}
/* Hamburger Menu - outside media query since it needs to be `display:none` on larger screens */


@media (max-width: 768px) {
    /* ... your existing styles ... */
    
    /* Display the hamburger menu */
    .hamburger {
        display: flex;
    }

    /* Initially hide the links */
    .links {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    /* Show links when hamburger is toggled */
    .links.active {
        display: flex;
        background-color: #008337;
    }

    .links ul {
        width: 100%;
        padding: 0; /* Reset any padding */
    }

    .links ul li a {
        display: block;
        width: 10%;
        padding: 15px; /* Larger hit area for links */
        text-align: right; /* Center the link texts */
    }
}

.app{
    height: 100%;
    z-index: 1;
    margin: auto;
    background-color: #000000;
    position: relative;
    z-index: 1;
    
   .main{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    overflow: hidden;
    z-index: 1;
    .page1{
        display: flex;
        justify-content: center;
        height: 100vh;
        align-items: center;
        font-size: 1rem;
        position: relative;
        z-index: 2;

        .about-me{
          display: inline-block;
          padding: .75rem 1.25rem;
          color: #fff;
          text-transform: uppercase;
          font-size: 1rem;
          letter-spacing: .15rem;
          transition: all .3s;
          position: relative;
          overflow: hidden;
          z-index: 1;
          &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #008337;
            z-index: -2;
          }
          &:before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0%;
            height: 100%;
            background-color: darken(#008337, 15%);
            transition: all .3s;
            z-index: -1;
          }
          &:hover {
            color: #fff;
            &:before {
              width: 100%;
            }
          }
        }
        .logo{
            position: absolute;
            margin-left: .1rem;
            font-size: 50rem;
            color: transparent; /* Make the text color transparent */
            background-color: #008337;
            background: linear-gradient(270deg, #008337, #6cf19dbd);
            font-family: cursive;
            display: flex;
            justify-content: center;
            align-items: center;
            -webkit-background-clip: text; /* Clip the background over the text */
            background-clip: text; /* Standard syntax, not widely supported */
            z-index: 1;
        }
        .title-info, .logo{
            margin-top: -10rem;
        }
        .title-info{
            position: relative;
            right:40%;
            z-index: 2;
            .myName {
                font-size: 5rem;
                color: rgb(255, 255, 255);
            }
            p{
                font-family: Georgia, 'Times New Roman', Times, serif;
                color: #ffffff;
                font-size: 1.5rem;
            }
        }
        .social-media-toolbar {
            position:fixed;
            top: 50%;
            right: 5%;
            transform: translateY(-50%);  // This centers the toolbar vertically.
            display: flex;
            flex-direction: column;
            gap: 1rem;  // Spacing between links.
            z-index: 1;
            
            a {
                color: rgb(172, 172, 172);  // Or any other desired color.
                font-size: 3vw;  // Adjust the icon size as needed.
                transition: color 0.3s;  // Optional: for a smooth color transition on hover.
        
                &:hover {
                    color: #008337;  // Or any other desired hover color.
                }
            }
        }
        .item {
            display: flex;
            align-items: center;
            flex-direction: column;
            width: 100px;
            height: 100px;
            position: relative;
            margin-left: auto;
             margin-right: auto;
            right: 45%;
            top: 38%;
            font-size: 2vh;
            z-index: 1;
          }
          .works{
            color: #fff;
            text-align: center;
          }
          
          .item:hover {
            color: white;
            font-weight: normal;
          }
          
          .item:hover i {
            color: white;
          }
          
          i {
            color: #008337;
            margin: 0 auto;
            height: 100%;
          }
          i.arrow1 {
            display: block; /* Makes the icon behave like a block for margin-auto to work */
            margin: 0 auto; /* Centers the arrow horizontally */
            animation: slide1 1.5s ease-in-out infinite;
            height: 100px; /* You can adjust this to make the arrow longer */
          }
          
          @keyframes slide1 {
            0%,
            100% {
              transform: translateY(0);
            }
          
            50% {
              transform: translateY(20px);
            }
          }
    }
    
      
    }
    
    .backwrap {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100vw;
      z-index: 0; // This will ensure that the background stays behind the content
    }
    .projects {
        background-color: #ffffff;
        width: 100vw;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center; /* Center everything horizontally */
        align-items: center; /* Center everything vertically */
        height: 50%;
        padding-bottom: 5%;
        z-index: 0;
    }
    .vert-line{
        border-left: #3f3f3f13 1px solid;
        border-right: #3f3f3f13 1px solid;
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center; /* Center everything horizontally */
        align-items: center; /* Center everything vertically */
    }
    .vert-line::before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%; /* Position the left vertical line */
      width: 1px; /* Width of the vertical lines */
      height: 100%;
      background-color: #3f3f3f13; /* Color of the vertical lines */
      z-index: 2; /* Set the z-index to desired value */
    }

    .projects-title{
        font-family: 'League Spartan',Helvetica,Arial,sans-serif;
        font-size: 2rem;
        padding-top: 5%;
    }
    .project {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 100%;
        height: 450px;
        margin: 15% 0;
        margin-bottom: 3%;
        z-index: 2;
        background-size: cover; /* Cover the entire space of the div */
        background-position: center; /* Center the background image */
        background-repeat: no-repeat;
        overflow: hidden;
        position: relative;
        box-shadow: 0 20px 80px 0 rgba(0,0,0,.45);
    }
    .project-content {
        position: relative;
        z-index: 2; /* Above the ::before pseudo-element */
        transition: transform 2s ease-in, font-size .5s ease-in;
      }
      
      .project-number {
        position: absolute;
        top: 20px; /* Adjust as needed */
        right: 20px; /* Adjust as needed */
        background-color: transparent; /* Semi-transparent white */
        padding: 5px;
        z-index: 2; /* Above the ::before pseudo-element */
        color: #000; /* Color of the number */
        transition: opacity 2s ease, font-size 1s ease;
        opacity: 0; /* Start with the number invisible */
      }
      
      .project::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #6cf19dbd;
        z-index: 1; /* Below the content and number */
        transform: translateX(-100%);
        transition: transform 1s ease;
      }
      
      .project:hover::before {
        transform: translateX(0%);
      }
      
      .project:hover .project-number {
        opacity: 1; 
        margin-top: -5%;
        font-size: 6rem;
        animation: bounce1 .75s ease-in-out .5s 3;
        color:#fff
      }
      @keyframes bounce1 {
        0%,
        100% {
          transform: translateY(0);
        }
      
        50% {
          transform: translateY(20px);
        }
      }
      .project:hover .project-content {
        opacity: 1; 
        font-size: 3rem;
        color:#fff
      }
      
      /* Adjust the margin for odd and even projects if necessary */
      .project:nth-child(odd) {
        margin-right: 5%;
      }
      
      .project:nth-child(even) {
        margin-left: 5%;
      }
  .fun{
    display: flex;
    flex-direction: column;
    width: 100vw;
    background-color: #ffffff;
    align-items: center;
    text-align: center;
    height: 450px;
    padding-top: 5%;
    z-index: 1;
    .fun-projects{
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
      box-shadow: 0 20px 60px 0 rgba(0,0,0,0.5);
      .fun-project{
        display: flex;
        align-items: center;
        justify-content: center;
        border: #000 1px solid;
      }
    }
  }
}




footer{
    display: flex;
    flex-direction: column;
    font-size: 2vw;
    color: #ffffff;
    margin: 0 auto;
    width: 100%;
    height: 400px;
    align-items: center;
    justify-content: center;
    line-height: 1.5em;
    border-top: black 2px solid;
    box-shadow: 0 -8px 30px 0 rgba(0,0,0,0.4);
    z-index: 3;
    .logo{
      font-size: 5rem;
      color: #008337;
      font-family: cursive;
      margin-bottom: 4%;
      z-index: 1;
  }
}
footer a{
    color:#ffffff;
}
footer a:hover{
    color:#008337;
}
footer ul li {
    color:#ffffff;
    padding: 0 10px;
}
footer ul{
    display: flex;
    list-style-type: none;
}

