@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    color:rgb(0, 0, 0);
    background: white;
    width: 100%;
    font-size: 2.5vw;
    box-shadow: 0 8px 30px 0 rgba(0,0,0,0.4);
    border-bottom: black 2px solid;
}
.nav .logo-dark{
    width: 25%;
    display: flex;
    flex-direction: column;
    padding-bottom: 2%;
    align-items: center;
    align-content: center;
    margin-left: -5%;
}
.nav .logo-dark img{
    width: 50%;
    
}
button{
    width:fit-content;
    font-size: 1vw;
    transition: all 400ms ease-in-out;
}
button:hover{
    color:#ffffff;
    background: #000000;
    transform: scale(1.1);
    border: #ffffff 2px solid;
}
.nav .links{
    width: 70%;
}
.nav .links ul {
    display: flex;
    justify-content: space-around;
    color: #000000;
    width: 100%;
    margin: 0 auto;
    
}
.nav ul a{
    display: flex;
    justify-content: space-between;
    border: #000000 2px solid;
    box-shadow: 0 3px 8px rgba(0,0,0,0.5);
    margin: 0 auto;
    width: fit-content;
    padding: 1%;
    color:rgb(0, 0, 0);
    transition: all 400ms ease-in-out;
}

.nav ul a:hover{
    color:#ffffff;
    background: #000000;
    transform: scale(1.1);
    border: #ffffff 2px solid;
    box-shadow: 0 8px 10px rgba(0,0,0,3);   
}
.app{
    padding-top: 15%;
    border: 10px black solid;
    
}
.app .pic{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    border-radius: 25%;
    width: 20%;
    transition: all 400ms ease-in-out;
}
.app .pic:hover{
    transform: scale(1.5);
    box-shadow: 0 10px 18px;
}

.app .intro {
    display: flex;
    justify-content: center;
    color: #000000;
    font-family: Georgia,times new roman,Times,serif;
    line-height: 2.5em;
    margin: 5% auto;
    font-size: 3vw;
    text-align: justify;
    width: 60%;
}


.app .proj {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 1% auto;
    padding: 0 1% 15% 1%;
    font-size: 2vw;
    line-height: 2.5rem;
    text-decoration: underline;
}

.app .proj .projimg{
    display: flex;
    justify-content: center;
    text-align: center;
}
.app .proj .projimg a{
    color: #000000;
}
.app .proj .projimg .golfApp  a{
    display: flex;
    flex-direction: column;
    color:#000000;
}
.app .proj .projimg a img {
    display: flex;
    justify-content: center;
    margin: 3% auto;
    border-radius: 50%;
    color:#000000;
    width: 50%;
    box-shadow: 0 7px 20px 0 rgba(0, 0, 0, 0.4);
}
.app .proj .projimg a:hover{
    
    color:aqua;
}
.app .proj .projimg a img:hover{
    animation: shake 0.5s;
}
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
.about{
    display: flex;
    justify-content: center;
    width: 50%;
    flex-direction: column;
    align-items: center;
    margin: 1% auto;
    padding-bottom: 10%;
    color: #000000;
    font-size: 2rem;
    line-height: 3rem;
}

footer{
    display: flex;
    flex-direction: column;
    font-size: 2vw;
    color: #000000;
    margin: 0 auto;
    width: 100%;
    height: fit-content;
    align-items: center;
    line-height: 1.5em;
    border-top: black 2px solid;
    box-shadow: 0 -8px 30px 0 rgba(0,0,0,0.4);
}
footer a{
    color:#000000;
}
footer ul li tag{
    color:#000000;
    padding: 0 10px;
}
footer ul{
    display: flex;
    list-style-type: none;
}

.dark-mode {
    /* Start https://www.cursors-4u.com */ * {cursor: url(https://cur.cursors-4u.net/others/oth-1/oth24.cur), auto !important;} /* End https://www.cursors-4u.com */
    color: #fff;
    background-image: url('./images/stars.jpg');
    background-size: auto;
    main {
        background-color: #000000;
    }
    
    .nav {
      background-color: #000000;
      color: #ffc909;
      border-bottom: #a09002 2px solid ;
    }
    .nav .logo-dark{
        width: 30%;   
    }
    .nav .logo-dark img{
        width: 60%;   
    }
    .nav ul a{
        color: #ffc909;
    }
    .nav ul .home:hover{
        color: #ffffff;
        text-shadow: 0 0 5px #fff, 0 0 8px #fff, 0 0 12px #fff, 0 0 15px purple, 0 0 25px purple;
        box-shadow: 0 0 5px #fff, 0 0 8px #fff, 0 0 12px #fff, 0 0 15px purple, 0 0 25px purple;
    }

    .nav ul .projects:hover{
        color: #ffffff;
        text-shadow: 0 0 5px #fff, 0 0 8px #fff, 0 0 12px #fff, 0 0 15px blue, 0 0 25px blue;
        box-shadow: 0 0 5px #fff, 0 0 8px #fff, 0 0 12px #fff, 0 0 15px blue, 0 0 25px blue;
    }

    .nav ul .resume:hover{
        color: #ffffff;
        text-shadow: 0 0 5px #fff, 0 0 8px #fff, 0 0 12px #fff, 0 0 15px red, 0 0 25px red;
        box-shadow: 0 0 5px #fff, 0 0 8px #fff, 0 0 12px #fff, 0 0 15px red, 0 0 25px red;
    }
    
    .app .intro {
        color: #ffc909;   
    }
    .app .pic{
        box-shadow: 0 0px 30px 0px rgba(145, 148, 1, 1);
    }

    .app .proj {
        color:#ffc909;
        font-size: 1em;
        line-height: 1.5em;
    }
    .app .proj .projimg a{
        color: #ffc909;
    }
    .app .proj .projimg a:hover {
        color: #ffffff;
        text-shadow: 0 0 5px #fff, 0 0 8px #fff, 0 0 12px #fff, 0 0 15px green, 0 0 25px green;
    }
    .app .about{
        color: #ffc909;
    }
    footer{
        color: #ffffff;
        a{
            color:#ffffff;
        }
        ul li tag{
            color:#ffffff;
            
        }
    }
   
  }
.loading{
    background-image: url('./images/stars.jpg');
    background-size: 100vw;
    overflow: hidden;
    font-family: 'roboto';
    
    position: relative;
}
.loading::after {
    content: '';
    position: fixed;
    top: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(180deg, rgba(20,20,20,1) 40%, rgba(20,20,20,0) 100%);
  }
.wrapper{
    display: flex;
    height: 100vh;
    width: 60%;
    margin: 50% 20% 0 20%;
    perspective: 450px;
}
.scroll-text{
    color: #ffc909;
    font-size: 2vw;
    line-height: 2em;
    font-weight: bold;
    text-align: justify;
    position: relative;
    animation: scroll 80s linear forwards;
}

.scroll-text h1, h2{
    text-align: center;
    font-size: 3.5vw;
    line-height: 4em;
}

@keyframes scroll {
	from { top: 0; transform: translateZ(0) rotateX(15deg); }
	to { top: -7500px; transform: translateZ(-2000px) rotateX(21deg); }
}

@media (max-width:400px) {
    .scroll-text{
        font-size: 3vw;
        line-height: 4em;
        font-weight: bold;
        text-align: justify;
        position: relative;
        animation: scroll 110s linear forwards;
    }
    .nav{
        width: 100vw;
        padding: 1%;
    }
    .nav .logo-dark img{
        width: 75%;  
    }
    .nav ul a{
        border: #000000 .5vw solid;
    }
    .nav ul a:hover{
        border: #ffffff .5vw solid;   
    }
    .nav .logo-dark .button .dark-mode__toggle{
        height:1.5vh;
        width: 4vw;
    }
    .nav .logo-dark .button .dark-mode__toggle .toggle{
        height: 1.65vh;
        margin-top: -.2vh;
        width: 2.5vw;
    }
    .app{
        padding-top: 30%;
    }
    .app .proj {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin: 10% auto;
        padding-bottom: 10%;
        color: #000000;
        font-size: 1.5rem;
        line-height: 2.5rem;
        text-decoration: underline;
    }
    .app .proj projimg {
        font-size: 3vw;
    }
    .intro{
        font-size: 1em;
    }
    .about{
        font-size: 1em;
        width: 75%;
    }
    .about h2{
        font-size: 1.2em;
    }
    footer{
        font-size: 1em;
    }
}
