name{
    display: flex;
    justify-content: center;
    color: #000000;
    padding: 9rem 0 0 0;
}
main{
    background: #ffffff;
}
main title {  
    display: flex;
    text-align: center;
    flex-direction: column;
    font-size: 3rem;
    color: #000000;
    background: #eeeeee;
    padding: 5% 0;
    width: 100%;
    border: 2px solid #c7c7c7;
    border-radius: 0 0 100% 100%;
    box-shadow: 0 7px 20px 0 rgba(242, 243, 237, 0.2), 0 4px 10px 0 rgba(0,0,0,0.2);
}

main intro {
    display: flex;
    justify-content: center;
    padding: 5% 0;
    color: #000000;
    font-size: 1.5rem;
    line-height: 2.5rem;
}

img{
    display: flex;
    justify-content: center;
    margin: 5% auto;
    border-radius: 25%;
    width: 20%;
}

main proj {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 10% auto;
    padding-bottom: 10%;
    color: #000000;
    font-size: 1.5rem;
    line-height: 2.5rem;
    text-decoration: underline;
}

main proj projimg{
    display: flex;
    justify-content: center;
    text-align: center;
}
main proj projimg a img {
    display: flex;
    justify-content: center;
    margin: 3% auto;
    border-radius: 50%;
    color:#000000;
    width: 50%;
    box-shadow: 0 7px 20px 0 rgba(239, 240, 238, 0.2), 0 4px 10px 0 rgba(0,0,0,0.2);
}
main proj projimg a:hover{
    
    color:aqua;
}
main proj projimg a img:hover{
    animation: shake 0.5s;
}
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
main about{
    display: flex;
    justify-content: center;
    width: 50%;
    flex-direction: column;
    align-items: center;
    margin: 10% auto;
    padding-bottom: 10%;
    color: #000000;
    font-size: 1.5rem;
    line-height: 2.5rem;
}

main footer{
    display: flex;
    flex-direction: column;
    font-size: 2.5rem;
    color: #000000;
    margin: 0 auto;
    background: #eeeeee;
    width: 100%;
    height: 200px;
    border: 2px solid #2a2c3b;
    border-radius: 100% 100% 0 0;
    align-items: center;
    line-height: 6rem;
    box-shadow: 0 7px 20px 0 rgba(242, 243, 237, 0.2), 0 4px 10px 0 rgba(0,0,0,0.2);
}
main footer a{
    color:#000000;
}
main footer ul li tag{
    color:#000000;
    padding: 0 10px;
}
main footer ul{
    display: flex;
    list-style-type: none;
}
.nav{
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    background: #ffffff;
    min-width: 20rem;
    z-index: 999;
    font-size: 1.5rem;
    box-shadow: 0 7px 20px 0 rgba(0,0,0,0.2), 0 4px 10px 0 rgba(0,0,0,0.2);
    color: #000000; 
}
.nav ul a{
    color: #000000;
}
.dark-mode__toggle {
    background: rgb(0, 0, 0);
    border-radius: 50px;
    border: 1px solid black;
    height: 20px;
    position: relative;
    width: 40px;
  }

  .toggle {
    background: #a09002;
    border-radius: 50px;
    height: 18px;
    left: 0;
    position: absolute;
    transition: 0.2s;
    width: 20px;
  }
  
  .toggled {
    left: 18px;
  }
  .dark-mode {
    color: #fff;
    background-color: #313843;
    main {
        background-color: #000000;
    }
    .nav {
      background-color: #000000;
      color: #a09002;
    }
    .nav ul a{
        color:#a09002;
    }
    .nav ul a:hover{
        color:#ffffff;
    }
    .dark-mode__toggle {
        background-color:#ffffff;
        border-color: #a09002;
        border-width: 10%;
    }
    main title {
        background-color: #ffffff;

        box-shadow: 0 7px 20px 0 rgba(145, 148, 1, 1), 0 4px 10px 0 rgba(0,0,0,0.2);
    }
    main intro {
        color: #a09002;
    }
    img {
        box-shadow: 0 0px 30px 0px rgba(145, 148, 1, 1);
    }
    main proj {
        color:#a09002;
    }
    main proj projimg a{
        color: #a09002;
    }
    main proj projimg a:hover {
        color:#ffffff;
    }
    main about{
        color: #a09002;
    }
    .toggle{
        background-color: #000000;
        border-color: #a09002;
    }
  }
